<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>start</key>
	<array>
		<string>All right then.</string>
		<string>.setbackground:pond.png</string>
		<string>I guess this will be a test to see how well EKVN can integrate into the VN system.</string>
		<string>Next up, we&apos;ll switch to a danmaku.</string>
		<string>.startdanmaku:t_level0:0.5</string>
		<string>You shouldn&apos;t see this.</string>
		<string>No, like really.</string>
	</array>
</dict>
</plist>
