<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>start</key>
	<array>
		<string>.setbackground:skyspace.png</string>
		<string>Well, looks like the initial danmaku test succeeded.</string>
		<string>Are you ready to switch to danmaku again?</string>
		<string>Well, it&apos;s not like there&apos;s a &quot;no&quot; option to that.</string>
		<string>.startdanmaku:t_level0:0.5</string>
		<string>You shouldn&apos;t see this.</string>
		<string>No, like really.</string>
	</array>
</dict>
</plist>
